/* Distributed by http://freehtml5templates.com */

main, article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video  {
	display: block;
	text-align: justify;
}
main {
	margin: auto;
	width: 1000px;
}
.abox {
	float: left;
	width: 300px;
	text-align: center;
	margin-right: 5px;
	padding: 5px;


}
.abox img {
	border: medium solid #FFFBF0;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	-moz-box-shadow:0px 0px 11px #000000;
	-webkit-box-shadow:0px 0px 11px #000000;
	box-shadow:0px 0px 11px #000000;

}
.content .abox figure a:hover {
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	-moz-box-shadow:0px 0px 11px #000000;
	-webkit-box-shadow:0px 0px 11px #000000;
	box-shadow:0px 0px 11px #000000;
	opacity: 0.5;
	-moz-transition: all 400ms linear 0s;
	
}
.content section {
	width: 940px;
	position: relative;
	float: left;
	text-align: center;
	padding-left: 40px;
	padding-top: 20px;
}
.content middle {
	width: 1100px;
	position: relative;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 6em;
	text-align: left;
}
.middle_box {
	display: block;
	width: 300px;
	position: relative;
	float: left;
	padding: 10px;
	margin-left: 25px;
	box-shadow: 0 45px 60px -30px #7D7D7D;
	-moz-border-bottom-colors: withe;
	-moz-border-left-colors: black;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}
middle {
	margin: auto;
	float: left;
	width: 1000px;

}
div#search-top{
	float:right;
	margin-right: 300px;
	margin-top: 15px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}
div#search-top form{
	width:160px;
	float:left;
	background:#666;
	color:#fff;
	padding:3px 0px 3px 0px;
	margin:0 0 0 20px;
}
input#search-field{
	width:123px;
	height:24px;
	padding:0 6px 0 8px;	
	float:left;
	background:#666;
	border:none;
	margin:0;
	color:#fff;
}
input#search-field:focus{
	color:#fff;
}
input#search-btn{
	width:18px;
	height:18px;
	float:left;
	margin:3px 0 0 0;
	padding:0 0px 0px 0;	
	text-align:center;
	color:#555;
	cursor:pointer;
	border:none;
	background:url(../images/search-btn.png) no-repeat center;
}
.big {
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #58A5C7;
	text-shadow: 1px 1px 1px #000000;
}
.middle_box a {
	color: #3D3D3D;
	text-decoration: none;
}
.middle_box a:hover {
	color: #151515;
	opacity: 0.5;
	
}
details {
	width: 960px;
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	float: left;
	color: #333333;
	height: 40px;
}
.enter {
	width: 960px;
	position: relative;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: #F0F0F0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 0px 2px #000000;
	-webkit-box-shadow:0px 0px 2px #000000;
	box-shadow:0px 0px 2px #000000;
	padding-right: 10px;
	padding-bottom:20px;
	height: 13em;

}
.enter em {
	float: left;
	width: 600px;
	margin-top: 40px;
	margin-left: 30px;
	line-height: 25px;
	font-family: serif;
	font-size: 16px;
	color: #222222;
}
.enter p {
	float: left;
	width: 930px;
	margin-top: 20px;
	line-height: 25px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444444;
	margin-left: 20px;
	margin-bottom:10px;
	text-shadow: -1px 1px 0 #fff;
}
.btn, input[type="submit"], button {
	//background: none repeat scroll 0 0%, -moz-linear-gradient(#CCCCCC, #B3B3B3) repeat scroll 0 0 transparent;
	//border: 1px solid rgba(45, 45, 45, 0.5);
	border-radius: 5px 5px 5px 5px;
	//box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	//color: #444444;
	display: inline-block;
	font-weight: 300;
	line-height: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	float: right;
	margin-top: 3px;
	margin-right: 15;
	margin-bottom: 3px;
	margin-left: 0;
	width: 100px;
	text-align: center;
	font-size: 14px;
	padding: 2px;
}
.btn:hover, input[type="submit"]:hover, button:hover {
	background: none repeat scroll 0 0%, -moz-linear-gradient(#B3B3B3, #CCCCCC) repeat scroll 0 0 transparent;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
	color: #444444;
	text-decoration: none;
}
.sbtn {
    border-radius: 3px 3px 3px 3px;
    font-size: 11px !important;
    font-weight: bold;
    padding: 2px 5px 0;
    text-transform: uppercase;
}
.enter .btn a {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
}
.enter .btn a:hover {
	color: #FF6633;
}

/*Logos de Empresas*/
.partners {
	background-color: #FFFFFF;
	background-repeat: repeat-y;
	position: relative;
	min-height: 30em;
	height: auto;
	border-radius: 2%;
}

.pabox {
	float: left;
    margin: auto;
    margin-bottom: 1em;
    width: 30%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.pabox .titulo {
	font-size: 36px;
	font-family: Garamond serif;
	text-align: center;
	font: normal;
	width: 230px;
	padding-bottom: 0.3em;	
}

.row:after {
    content: "";
    clear: both;
    text-align: center;
}

.partnercol {
    display: inline-block;
    padding: 1%;
    width: 40%;
    height: 40%;
}

.partner {
    width: 100%;
    height: 100%;
}